{% if total > 0 %}
	{% use 'layout.twig' %}

	{{block('header')}}
	{{breadcrumb|raw}}
	<div class="mainblock">
		<div class="phdr" style="font-weight: 700">
			<i class="fa fa-trash" aria-hidden="true"></i>
			Xóa bài viết
		</div>
		<div class="menu" style="text-align:center">
			<form action="" method="POST">
				<p>
					Bạn có chắc chắn muốn xóa bài viết này khỏi blog của bạn không? 
                    Việc này đồng nghĩa với các chương truyện nằm trong bài viết sẽ bị xóa.<br/>
                    Bài viết này đang sở hữu <b>{{chapter}}</b> chapter.
				</p>
				<p>
					<button type="submit" class="button">Xác nhận</button>
				</p>
			</form>
		</div>
	</div>

	{{block('footer')}}
{% endif %}